@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  --color-primary: #8750F7;
}

body{
  background: #15091D;
  font-family: "Sora", sans-serif;
}

.navLi li {
  cursor: pointer;
}


.common p:hover {
  cursor: pointer;
}

.footer-bg {
  background-image: url('./assets/Footer.png');
  background-size: cover;
  background-position: center;
}

